<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> PAYMENT DETAILS</h4>
        </div>
        <div class="card-body">
            <table class="table">
              <thead class="text-primary">
                <th class="text-center">
                  Payment ID
                </th>
                <th>
                  Patient Name
                </th>
                <th>
                  Date of Service
                </th>
                <th class="text-center">
                  Status
                </th>
                <th class="text-right">
                  Amount
                </th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    1011
                  </td>
                  <td>
                    Andrew Mike
                  </td>
                  <td>
                    10-feb-2022
                  </td>
                  <td class="text-center">
                    Paid
                  </td>
                  <td class="text-right">
                    € 99,225
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    1011
                  </td>
                  <td>
                    John Doe
                  </td>
                  <td>
                    10-feb-2022
                  </td>
                  <td class="text-center">
                    Paid
                  </td>
                  <td class="text-right">
                    € 89,241
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    1011
                  </td>
                  <td>
                    Alex Mike
                  </td>
                  <td>
                    10-feb-2022
                  </td>
                  <td class="text-center">
                    Paid
                  </td>
                  <td class="text-right">
                    € 92,144
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    1011
                  </td>
                  <td>
                    Mike Monday
                  </td>
                  <td>
                    10-feb-2022
                  </td>
                  <td class="text-center">
                    Paid
                  </td>
                  <td class="text-right">
                    € 49,990
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    1011
                  </td>
                  <td>
                    Paul Dickens
                  </td>
                  <td>
                    10-feb-2022
                  </td>
                  <td class="text-center">
                    Paid
                  </td>
                  <td class="text-right">
                    € 69,201
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    1011
                  </td>
                  <td>
                    Manuel Rico
                  </td>
                  <td>
                    10-feb-2022
                  </td>
                  <td class="text-center">
                    Paid
                  </td>
                  <td class="text-right">
                    € 99,201
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
